@{
    Layout = null;
}

@using (Html.BeginForm("Index", "Requerimiento", FormMethod.Get, new { @class = "sidebar-form", role = "form" }))
{
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline;", @placeholder = "Buscar (por CI o Cliente)" })

            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
            </span>
    </div>
}
