
@{
    ViewBag.Title = "Error 404";
}

<section class="content-header">
    <h1>
        Respaldo de datos:
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Herramientas</a></li>
        <li><a href="#">Respaldo</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i>Algo ha salido mal</h3>
            <p>
                No pudimos encontrar la página que estabas buscando.
                Mientras tanto, puedes <a href="/">Regresar a Inicio</a>
            </p>
            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-warning btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

