<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskTEG</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/LogReg.css" />
    <link rel="stylesheet" href="~/Content/lib/font-awesome-4.6.3/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/lib/ionicons-2.0.1/css/ionicons.css" />
    <script src="~/Content/lib/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("Scripts", required: false)
    </body>
</html>