@{
    Layout = null;
}


<script type="text/javascript">
    $(document).ready(function () {

        var tr;
        $.getJSON("/GrupoDetalle/Lista/19",
       function (json) {

           $.each(json, function (i, Datos) {
               var Empid = Datos.IdGrupoDetalle;
               tr = $('<tr/>');
               tr.append("<td class='Name'>" + Datos.Titulo + "</td>");
               tr.append("<td class='City'>" + Datos.Descripcion + "</td>");
               tr.append("<td class='Address'>" + Datos.Orden + "</td>");
               tr.append("<td class='Name'>" + Datos.IdPadre + "</td>");
               tr.append("<td class='City'>" + Datos.Icono + "</td>");
               tr.append("<td class='Address'>" + Datos.Estatus + "</td>");
               tr.append("<td class='Name'>" + Datos.FechaRegistro + "</td>");
               tr.append("<td>" + "<a Onclick='return false;' class='DeleteCss' href=/Home/Delete/" + Empid + ">Delete</a>" + " | " + "<a class='EditCss' href=/Home/Edit/" + Empid + ">Edit</a>" + "</td>");
               $('#listaTabla').append(tr);
           });
       });
        $('#listaTabla').on('click', 'td a.DeleteCss', function () {
            var DeleteUrl = $(this).attr("href");
            if (confirm("Are you sure wants to delete ?.")) {
                $.ajax({
                    url: DeleteUrl,
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json",
                    error: function (err) {
                        alert('Unable to delete record.');
                    },
                    success: function (response) {

                        $('#DivEmpList').load("/Home/EmployeeDetails");

                    }
                });
            }
        });
    });
</script>

<table id="listaTabla" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Orden</th>
            <th>Cat. Superior</th>
            <th>Icono</th>
            @*<th>Url</th>*@
            <th>Estatus</th>
            <th>Registrado</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
